<section class="advantages">
    <div class="advantages_container container js_advantages_container">
        <h2 class="js_advantages_container-anim--1">
            Почему круто быть с нами:
        </h2>

        <ul class="advantages_slider js_advantages_slider js_advantages_container-anim--2">
            <li class="js_advantages_container-anim--3">
                
                    <img class="owl-lazy" src="./images/advantages/img_1.png" alt="Image">
                

                <p>
                    Получать лучшие рецепты <br>
                    по разным категориям
                </p>
            </li>
            <li class="js_advantages_container-anim--4">
                
                    <img class="owl-lazy" src="./images/advantages/img_2.png" alt="Image">
                

                <p>
                    Готовить без лишних усилий <br>
и делать из каждого дня <br>
не рутинный
                </p>
            </li>
            <li class="js_advantages_container-anim--5">
                
                    <img class="owl-lazy" src="./images/advantages/img_3.png" alt="Image">
                

                <p>
                    Довольные <br>
члены семьи
                </p>
            </li>

        </ul>
    </div>
</section>