<div class="join">
    <div class="join_container js_join_container container">
        <p class="js_join_container-anim--1">
            Удобно получать на емейл уникальные проверенные рецепты,
            которые дружная команда Tastycookery попробовала сама и рекомендует
        </p>

        <button type="button" data-href="#sign" class="btn js_scroll js_join_container-anim--2">
            Стать членом семьи Tastycookery <br>
            <strong>бесплатно</strong>
        </button>

    </div>
</div>