<section class="reviews">
    <div class="reviews_container js_reviews_container container">
        <h2 class="js_reviews_container-anim--1">
            Отзывы довольных пользователей
        </h2>

    <ul class="reviews_slider js_reviews_slider js_reviews_container-anim--2">
        <li class="js_reviews_container-anim--3">
            <div class="reviews_slider-slide--top">
                <p>
                    После того, как стал участником проекта Tastycookery получает много простых рецептов, о которых раньше не задумывался, стал готовить некоторые, семья рада, стали больше разговаривать во время ужина и хвалить кулинарные таланты Человека1.
                </p>
            </div>

            <div class="reviews_slider-slide--bottom">
                <img class="owl-lazy" src="./images/reviews/img_1.jpg" alt="Avatar">


                <div class="reviews_slide-bottom--content">
                    <p>
                        Дейнерис
                    </p> 

                    <span>
                        56 лет
                    </span>
                </div>
            </div>
        </li>
        <li class="js_reviews_container-anim--4">
            <div class="reviews_slider-slide--top">
                <p>
                    Рад, что благодаря простым рецептам может наслаждаться изысканными блюдами, тратя на приготовление 20 мин в день
                </p>
            </div>

            <div class="reviews_slider-slide--bottom">
                <img class="owl-lazy" src="./images/reviews/img_2.jpg" alt="Avatar">


                <div class="reviews_slide-bottom--content">
                    <p>
                        Тайвин
                    </p> 

                    <span>
                        43 лет
                    </span>
                </div>
            </div>
        </li>
        <li class="js_reviews_container-anim--5">
            <div class="reviews_slider-slide--top">
                <p>
                    Довольна, что благодаря рецептам с TC может на работу брать полезные обеды, что полностью отказалась от офисной неполезной еды и за 2 месяца похудела
                    на 3 кг. И очень рекомендует всем использовать рецепты с сайта
                </p>
            </div>

            <div class="reviews_slider-slide--bottom">
                <img class="owl-lazy" src="./images/reviews/img_3.jpg" alt="Avatar">


                <div class="reviews_slide-bottom--content">
                    <p>
                        Серсея
                    </p> 

                    <span>
                        56 лет
                    </span>
                </div>
            </div>
        </li>
    </ul>

    </div>
</section>