<div class="services">
    <div class="services_container container">
        <ul class="services_slider js_services_slider">
            <li class="js_services_slider-anim--1">
                
                    <img class="owl-lazy" src="./images/services/img_1.png" alt="Image">
                

                <p>
                    Простые домашние  <br>
                    рецепты
                </p>
            </li>
            <li class="js_services_slider-anim--2">
                
                    <img class="owl-lazy" src="./images/services/img_2.png" alt="Image">
                

                <p>
                    Статьи о готовке
                </p>
            </li>
            <li class="js_services_slider-anim--3">
                
                    <img class="owl-lazy" src="./images/services/img_3.png" alt="Image">
                

                <p>
                    Бесплатная книга рецептов <br>
                    всем подписчикам
                </p>
            </li>
            <li class="js_services_slider-anim--4">
                
                    <img class="owl-lazy" src="./images/services/img_4.png" alt="Image">
                

                <p>
                    Собирайте рецепты <br>
в recipe box
                </p>
            </li>
            <li class="js_services_slider-anim--5">
                
                    <img class="owl-lazy" src="./images/services/img_5.png" alt="Image">
                

                <p>
                    Печать рецептов
                </p>
            </li>

        </ul>
    </div>
</div>