<div class="sign " id="sign">
    <div class="sign_container  container">
        <div class="sign_content">
            <p>
                Sign up to receive daily manually selected recipes, delicious weekly articles, <br>
                3-piece sets of slow cooker, vegetarian,
                and lunch ideas, plus Quick&Easy recipes and Nutrition Value flashcards via email.
            </p>
        </div>

        <form class="sign_form js_sign_form ">
            <div class="form-group">
                <label for="Email"></label>
                <input type="Email" id="Email" name="Email" class="form-control" placeholder="Enter your email">
            </div>

            <button type="submit" class="btn js_submit">
                Sign up
            </button>

            <p>
                By signing up I agree to the terms of the <a href="#">Privacy Policy</a>
            </p>
        </form>
    </div>

    <span>
        © 2014–2018 TastyCookery.com
    </span>
</div>