.services {
  padding-top: 58px;
  padding-bottom: 66px;
  @media (max-width: 1168px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &_container {
    overflow: hidden;
  }

  &_slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 960px) {
      flex-direction: column;
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    img {
      margin-bottom: 30px;
    }

    p {
      color: #242424;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.2;
      @media (max-width: 1168px) {
        font-size: 14px;
      }
    }
  }
}
